* {
    font-family: 'Arvo', serif;
}

html {
    background-color: #FDFDED;
    box-sizing: border-box;
}

body {
    margin: 0;
}

input[type=text] {
    padding: 0.7rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 130%;
}

button {
    padding: 1px 1.5rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    background-color: #6B5C44;
    color: #FDFDED;
}

.header {
    background-color: #FEE372;
    padding: 1px;
    text-align: center;
}

.tealBlock {
    background-color: #7EC8C2;
    padding: 1rem;
}

.priceBlock {
    background-color: #FDFDED;
    padding: 0.5rem;
    text-align: center;
    margin: 0 auto;
    border: 1rem solid #dcdc87;
    border-radius: 2rem;
    color: #6B5C44;
}

/* unvisited link */
a:link, a:visited, a:hover {
    color: #6B5C44;
}

/* selected link */
a:active {
    color: blue;
}

#info {
    margin: 2% 25%;
}

/* Phone Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
    #info {
        margin: 2% 10%;
    }
}

/* Phone Landscape */
@media only screen
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (orientation: landscape) { 
        .priceBlock {
            width: 75%;
        }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    
}

/* Smartphones (landscape) ----------- */
@media screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 480px) {
    
}

@media only screen and (orientation: landscape) {
    
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 813px) {
    .priceBlock {
        width: calc(100vh - 110px);
    }
}